{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa Berrio</title>
    <link rel="Icon" href="{% static 'img/LogoCasaBerrio (1).png' %}">
    <link rel="stylesheet" href="{% static 'css/productos.css' %}">
</head>
<body>
    <div class="container">
        <h1>Tipo de evento</h1>
        <div class="product">
            <img src="{% static 'img/matrimonios.png' %}" alt="Matrimonio">
            <div class="product-details">
                <div class="product-name">Plan Todo Incluido 30 invitados</div>
                <div class="product-description">
                    <ul>
                        <li>Duración del evento, 7 horas continuas (No incluye tiempos de montaje)</li>
                        <li>Montaje en 3 horas el mismo día del evento</li>
                        <li>Desmontaje en 1 hora el mismo día del evento</li>
                        <li>Después de firmar contrato se agenda una nueva cita para ultimar detalles</li>
                        <li>Toda modificación, aclaración y detalles del evento deben quedar por escrito</li>
                        <li>El evento a realizar debe estar a paz y salvo (Sin saldo pendiente)</li>
                        <li>El día del evento sólo se reciben pagos en efectivo (No cheques)</li>
                        <li>Si desiste del evento y/o contrato se sancionará el 50% del valor total del Evento</li>
                        <li>2 Meseros / incluido un lider /1 Chef o auxiliar de alimentos /1 Dj - cuando el evento lo requiera</li>
                        <li>Vajilla cuadrada (entrada, fuerte, postre y ponqué) Cubiertos (cuchillo, tenedor, cucharita dulcera y tenedor ponqué) Cristalería (vasos largos y cortos, copas champaña, agua y/o vino)Bandejas, jarras, hieleras, samovares, pala y sierra para ponqué Incluye todo el menaje necesario para garantizar la calidad del evento.</li>
                        <li>Mesas redondas o rectangulares para invitados - 10 puestos c/u
                            Mesa redonda para ubicar el ponqué
                            Mesa redonda pequeña para ubicar el cofre (lluvia de sobres)
                            Mesas para montaje de alimentos y/o zona de bar (bebidas)</li>
                        <li>Centros de mesa en Flores y rosas o cilindros de cristal decorados Arreglo Floral para mesa de ponqué  Decoración de cofre, pala y sierra (ponqué) Entrada decorada con antorchas, velas y pétalos Servilletas en tela (color a escoger)</li>
                    </ul>
                </div>
                <center><div class="product-price">$ 2.400.000</div></center><br>
                <center><a href="reservas.html">Reservar</a></center>
            </div>
        </div>
        <div class="product">
            <img src="{% static 'img/15años.png' %}" alt="15años">
            <div class="product-details">
                <div class="product-name">Plan Todo Incluido 50 invitados</div>
                <div class="product-description">
                    <ul>
                        <li>Duración del evento, 7 horas continuas (No incluye tiempos de montaje)</li>
                        <li>Montaje en 3 horas el mismo día del evento</li>
                        <li>Desmontaje en 1 hora el mismo día del evento</li>
                        <li>Después de firmar contrato se agenda una nueva cita para ultimar detalles</li>
                        <li>Toda modificación, aclaración y detalles del evento deben quedar por escrito</li>
                        <li>El evento a realizar debe estar a paz y salvo (Sin saldo pendiente)</li>
                        <li>El día del evento sólo se reciben pagos en efectivo (No cheques)</li>
                        <li>Si desiste del evento y/o contrato se sancionará el 50% del valor total del Evento</li>
                        <li>2  / incluido un lider /1 Chef o auxiliar de alimentos /1 Dj - cuando el evento lo requiera</li>
                        <li>En pastillaje o crema suave (Ofrecemos diferentes diseños )
                            En masa blanca o negra, tres leches, brownie o amaretto
                            Descuente $ 75.000 a este plan si no requiere ponqué.</li>
                        <li>En pastillaje o crema suave (Ofrecemos diferentes diseños )
                            En masa blanca o negra, tres leches, brownie o amaretto
                            Descuente $ 75.000 a este plan si no requiere ponqué.</li>
                        <li>Brindis con Vino Espumoso blanco o rosado
                            Descuente $ 35.000 a este plan si no requiere Champaña
                           Gaseosas Postobon y Coca-cola
                           Jugo de Naranja
                           Agua mineral
                           Hielo para todo el evento
                           Cocteles con Vodka, jugo de naranja y licor de melón.</li>
                        <li>2 Meseros / incluido lider
                            2 Chef o auxiliar de alimentos
                            1 Dj - cuando el evento lo requiera.
                            Si desea adicionar un cordinador costo adicional $220.000</li>   
                        <li>Vajilla cuadrada (entrada, fuerte, postre y ponqué)
                            Cubiertos (cuchillo, tenedor, cucharita dulcera y tenedor ponqué)
                            Cristalería (vasos largos y cortos, copas champaña, agua y/o vino)
                            Bandejas, jarras, hieleras, samovares, pala y sierra para ponqué
                            Incluye todo el menaje necesario para garantizar la calidad del evento.</li>
                        <li>Centros de mesa en Flores y rosas o cilindros de cristal decorados
                            Arreglo Floral para mesa de ponqué
                            Decoración de cofre, pala y sierra (ponqué)
                            Entrada decorada con antorchas, velas y pétalos
                            Servilletas en tela (color a escoger)</li>
                    </ul>
                </div>
                <center><div class="product-price">$ 3.000.000</div></center><br>
                <center><a href="reservas.html">Reservar</a></center>
            </div>
        </div>
        <div class="product">
            <img src="{% static 'img/cumpleaños.png' %}" alt="15años">
            <div class="product-details">
                <div class="product-name">Plan Todo Incluido 100 invitados</div>
                <div class="product-description">
                    <ul>
                        <li>Duración del evento, 7 horas continuas (No incluye tiempos de montaje)</li>
                        <li>Montaje en 3 horas el mismo día del evento</li>
                        <li>Desmontaje en 1 hora el mismo día del evento</li>
                        <li>Después de firmar contrato se agenda una nueva cita para ultimar detalles</li>
                        <li>Toda modificación, aclaración y detalles del evento deben quedar por escrito</li>
                        <li>El evento a realizar debe estar a paz y salvo (Sin saldo pendiente)</li>
                        <li>El día del evento sólo se reciben pagos en efectivo (No cheques)</li>
                        <li>Si desiste del evento y/o contrato se sancionará el 50% del valor total del Evento</li>
                        <li>2  / incluido un lider /1 Chef o auxiliar de alimentos /1 Dj - cuando el evento lo requiera</li>
                        <li>En pastillaje o crema suave (Ofrecemos diferentes diseños )
                            En masa blanca o negra, tres leches, brownie o amaretto
                            Descuente $ 75.000 a este plan si no requiere ponqué.</li>
                        <li>En pastillaje o crema suave (Ofrecemos diferentes diseños )
                            En masa blanca o negra, tres leches, brownie o amaretto
                            Descuente $ 75.000 a este plan si no requiere ponqué.</li>
                        <li>Brindis con Vino Espumoso blanco o rosado
                            Descuente $ 35.000 a este plan si no requiere Champaña
                           Gaseosas Postobon y Coca-cola
                           Jugo de Naranja
                           Agua mineral
                           Hielo para todo el evento
                           Cocteles con Vodka, jugo de naranja y licor de melón.</li>
                        <li>2 Meseros / incluido lider
                            2 Chef o auxiliar de alimentos
                            1 Dj - cuando el evento lo requiera.
                            Si desea adicionar un cordinador costo adicional $220.000</li>   
                        <li>Vajilla cuadrada (entrada, fuerte, postre y ponqué)
                            Cubiertos (cuchillo, tenedor, cucharita dulcera y tenedor ponqué)
                            Cristalería (vasos largos y cortos, copas champaña, agua y/o vino)
                            Bandejas, jarras, hieleras, samovares, pala y sierra para ponqué
                            Incluye todo el menaje necesario para garantizar la calidad del evento.</li>
                        <li>Centros de mesa en Flores y rosas o cilindros de cristal decorados
                            Arreglo Floral para mesa de ponqué
                            Decoración de cofre, pala y sierra (ponqué)
                            Entrada decorada con antorchas, velas y pétalos
                            Servilletas en tela (color a escoger)</li>
                    </ul>
                </div>
                <center><div class="product-price">$ 5.000.000</div></center><br>
                <center><a href="reservas.html">Reservar</a></center>
            </div>
        </div>
        <div class="product">
            <img src="{% static 'img/Comuneros.jpg'%}" alt="15años">
            <div class="product-details">
                <div class="product-name">Plan Todo Incluido 150 invitados</div>
                <div class="product-description">
                    <ul>
                        <li>Duración del evento, 7 horas continuas (No incluye tiempos de montaje)</li>
                        <li>Montaje en 3 horas el mismo día del evento</li>
                        <li>Desmontaje en 1 hora el mismo día del evento</li>
                        <li>Después de firmar contrato se agenda una nueva cita para ultimar detalles</li>
                        <li>Toda modificación, aclaración y detalles del evento deben quedar por escrito</li>
                        <li>El evento a realizar debe estar a paz y salvo (Sin saldo pendiente)</li>
                        <li>El día del evento sólo se reciben pagos en efectivo (No cheques)</li>
                        <li>Si desiste del evento y/o contrato se sancionará el 50% del valor total del Evento</li>
                        <li>2  / incluido un lider /1 Chef o auxiliar de alimentos /1 Dj - cuando el evento lo requiera</li>
                        <li>En pastillaje o crema suave (Ofrecemos diferentes diseños )
                            En masa blanca o negra, tres leches, brownie o amaretto
                            Descuente $ 75.000 a este plan si no requiere ponqué.</li>
                        <li>En pastillaje o crema suave (Ofrecemos diferentes diseños )
                            En masa blanca o negra, tres leches, brownie o amaretto
                            Descuente $ 75.000 a este plan si no requiere ponqué.</li>
                        <li>Brindis con Vino Espumoso blanco o rosado
                            Descuente $ 35.000 a este plan si no requiere Champaña
                           Gaseosas Postobon y Coca-cola
                           Jugo de Naranja
                           Agua mineral
                           Hielo para todo el evento
                           Cocteles con Vodka, jugo de naranja y licor de melón.</li>
                        <li>2 Meseros / incluido lider
                            2 Chef o auxiliar de alimentos
                            1 Dj - cuando el evento lo requiera.
                            Si desea adicionar un cordinador costo adicional $220.000</li>   
                        <li>Vajilla cuadrada (entrada, fuerte, postre y ponqué)
                            Cubiertos (cuchillo, tenedor, cucharita dulcera y tenedor ponqué)
                            Cristalería (vasos largos y cortos, copas champaña, agua y/o vino)
                            Bandejas, jarras, hieleras, samovares, pala y sierra para ponqué
                            Incluye todo el menaje necesario para garantizar la calidad del evento.</li>
                        <li>Centros de mesa en Flores y rosas o cilindros de cristal decorados
                            Arreglo Floral para mesa de ponqué
                            Decoración de cofre, pala y sierra (ponqué)
                            Entrada decorada con antorchas, velas y pétalos
                            Servilletas en tela (color a escoger)</li>
                    </ul>
                </div>
                <center><div class="product-price">$ 7.200.000</div></center><br>
                <center><a href="reservas.html">Reservar</a></center>
            </div>
        </div>
        <div class="product">
            <img src="{% static 'img/grados.png' %}" alt="15años">
            <div class="product-details">
                <div class="product-name">Plan Todo Incluido 200 invitados</div>
                <div class="product-description">
                    <ul>
                        <li>Duración del evento, 7 horas continuas (No incluye tiempos de montaje)</li>
                        <li>Montaje en 3 horas el mismo día del evento</li>
                        <li>Desmontaje en 1 hora el mismo día del evento</li>
                        <li>Después de firmar contrato se agenda una nueva cita para ultimar detalles</li>
                        <li>Toda modificación, aclaración y detalles del evento deben quedar por escrito</li>
                        <li>El evento a realizar debe estar a paz y salvo (Sin saldo pendiente)</li>
                        <li>El día del evento sólo se reciben pagos en efectivo (No cheques)</li>
                        <li>Si desiste del evento y/o contrato se sancionará el 50% del valor total del Evento</li>
                        <li>2  / incluido un lider /1 Chef o auxiliar de alimentos /1 Dj - cuando el evento lo requiera</li>
                        <li>En pastillaje o crema suave (Ofrecemos diferentes diseños )
                            En masa blanca o negra, tres leches, brownie o amaretto
                            Descuente $ 75.000 a este plan si no requiere ponqué.</li>
                        <li>En pastillaje o crema suave (Ofrecemos diferentes diseños )
                            En masa blanca o negra, tres leches, brownie o amaretto
                            Descuente $ 75.000 a este plan si no requiere ponqué.</li>
                        <li>Brindis con Vino Espumoso blanco o rosado
                            Descuente $ 35.000 a este plan si no requiere Champaña
                           Gaseosas Postobon y Coca-cola
                           Jugo de Naranja
                           Agua mineral
                           Hielo para todo el evento
                           Cocteles con Vodka, jugo de naranja y licor de melón.</li>
                        <li>2 Meseros / incluido lider
                            2 Chef o auxiliar de alimentos
                            1 Dj - cuando el evento lo requiera.
                            Si desea adicionar un cordinador costo adicional $220.000</li>   
                        <li>Vajilla cuadrada (entrada, fuerte, postre y ponqué)
                            Cubiertos (cuchillo, tenedor, cucharita dulcera y tenedor ponqué)
                            Cristalería (vasos largos y cortos, copas champaña, agua y/o vino)
                            Bandejas, jarras, hieleras, samovares, pala y sierra para ponqué
                            Incluye todo el menaje necesario para garantizar la calidad del evento.</li>
                        <li>Centros de mesa en Flores y rosas o cilindros de cristal decorados
                            Arreglo Floral para mesa de ponqué
                            Decoración de cofre, pala y sierra (ponqué)
                            Entrada decorada con antorchas, velas y pétalos
                            Servilletas en tela (color a escoger)</li>
                    </ul>
                </div>
                <center><div class="product-price">9.280.000</div></center><br>
                <center class="center"><a href="reservas.html">Reservar</a></center>
            </div>
        </div>
</body>
</html>        



