{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Casa Berrio</title>
    <link rel="Icon" href="{% static 'img/LogoCasaBerrio (1).png' %}">
</head>
<body>
    <div class="div1 fadeInDown">
        <div class="div2">
            <div class="div-div">
                <img src="{% static 'img/casaberrio.png' %}" alt="User Icon" class="imagen-div">
            </div>
            <form method="post" class="div-form">
                {% csrf_token %}
                {{ form }}
                
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}

                <input type="submit" class="form-submit" value="Registrarse" required >
               
            </form>
            <div class="div-div2">
                <strong>Si ya estas registrado </strong><a href="login.html">Iniciar Sesion</a>
            </div>
        </div>
    </div>
</body>
</html>