

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Casa Berrio</title>
  <link rel="Icon" href="/static/img/LogoCasaBerrio%20(1).png">
  <link rel="stylesheet" href="/static/css/ventas.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
  <script src="js/ventas.js"></script>
  <div class="container py-5">
    
    
    <div class="row mb-4">
      <div class="col-lg-8 mx-auto text-center">
        <h1 class="display-4">Registro de Pago PSE</h1>
        <input type="hidden" name="csrfmiddlewaretoken" value="qgCsnysL0WqufHZKnpNVEEaDKK0Z0cnojKGEfkGM5kjK24yiqLgZHmroKopMM7LO">
      </div>
    </div>
   
  
  
    <div class="row">
      <div class="col-lg-7 mx-auto">
        <div class="bg-white rounded-lg shadow-sm p-5">

          <div class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
              <a  href="tarjetacd.html" class="nav-link active rounded-pill">
                                  <i class="fa fa-credit-card"></i>
                                  Tarjeta de Credito y Debito 
                              </a>
          
          </div>
  
          
          <div class="tab-content">
  
     
            <div id="nav-tab-card" class="tab-pane fade show active">

              <form role="form" method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="qgCsnysL0WqufHZKnpNVEEaDKK0Z0cnojKGEfkGM5kjK24yiqLgZHmroKopMM7LO">
                <tr>
    <th><label for="id_type_person">Type person:</label></th>
    <td>
      
      <select name="type_person" required id="id_type_person">
  <option value="" selected>---------</option>

  <option value="1">Persona Natural</option>

  <option value="2">Persona Jurídica</option>

</select>
      
      
    </td>
  </tr>

  <tr>
    <th><label for="id_select_bank">Select bank:</label></th>
    <td>
      
      <select name="select_bank" required id="id_select_bank">
  <option value="" selected>---------</option>

  <option value="1">Nequi</option>

  <option value="2">Daviplata</option>

  <option value="3">Bancolombia</option>

  <option value="4">Banco De Bogotá</option>

  <option value="5">Davivienda</option>

</select>
      
      
    </td>
  </tr>

  <tr>
    <th><label for="id_full_name">Nombre Completo:</label></th>
    <td>
      
      <input type="text" name="full_name" maxlength="100" required id="id_full_name">
      
      
    </td>
  </tr>

  <tr>
    <th><label for="id_type_id">Type id:</label></th>
    <td>
      
      <select name="type_id" required id="id_type_id">
  <option value="" selected>---------</option>

  <option value="1">CC-Cedula De Ciudadanía</option>

  <option value="2">PPT- Pasaporte</option>

  <option value="3">CE-Cedula De Extranjería</option>

</select>
      
      
    </td>
  </tr>

  <tr>
    <th><label for="id_identification_number">Numero de indentificacion:</label></th>
    <td>
      
      <input type="number" name="identification_number" min="0" required id="id_identification_number">
      
      
    </td>
  </tr>

  <tr>
    <th><label for="id_email">Correo electronico:</label></th>
    <td>
      
      <input type="email" name="email" maxlength="254" required id="id_email">
      
      
    </td>
  </tr>

  <tr>
    <th><label for="id_phone_number">Numero de telefono:</label></th>
    <td>
      
      <input type="tel" name="phone_number" maxlength="128" required id="id_phone_number">
      
      
        
      
    </td>
  </tr>
  
  
                </div>
                <input type="submit"  class="subscribe btn btn-primary btn-block rounded-pill shadow-sm" value="Confirmar Pago" onclick="alert('Contactando con su banco')">
              </form>
              
            </div>
  
        </div>
    </div>
  </div>
  
</body>
</html>